.board-wrapper {
    border: 5px solid var(--blue-darker);
    border-radius: 3px;
}

.board {
    position: relative;
    grid-column: 3;
    grid-row: 1 / 9;
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: var(--blue-dark);
}

.whiteField,
.blackField {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.whiteField {
    background-color: var(--blue-light);
    /* border: 1px solid rgb(250, 249, 236); */
    box-sizing: border-box;
}

.blackField {
    background-color: var(--blue-dark);
    /* border: 1px solid rgb(250, 249, 236); */
    box-sizing: border-box;
}

.whiteField.selected:not(:has(svg)) {
    background-color: var(--ocean-light);
}

.blackField.selected:not(:has(svg)) {
    background-color: var(--ocean-dark);
}

.whiteField.selected:has(svg[data-color='white']) {
    background-color: var(--lime-light);
}

.blackField.selected:has(svg[data-color='white']) {
    background-color: var(--lime-dark);
}

.whiteField.selected:has(svg[data-color='black']) {
    background-color: var(--yellow-light);
}

.blackField.selected:has(svg[data-color='black']) {
    background-color: var(--yellow-dark);
}

.whiteField.pieceCanMoveHere:not(:has(svg)) {
    background: radial-gradient(var(--green) 19%, var(--blue-light) 20%);
    cursor: pointer;
}

.blackField.pieceCanMoveHere:not(:has(svg)) {
    background: radial-gradient(var(--green-dark) 19%, var(--blue-dark) 20%);
    cursor: pointer;
}

.whiteField.pieceCanMoveHere svg {
    background: radial-gradient(
        transparent 0%,
        transparent 79%,
        var(--green-dark) 80%
    );
}

.blackField.pieceCanMoveHere svg {
    background: radial-gradient(
        transparent 0%,
        transparent 79%,
        var(--green-dark) 80%
    );
}

.whiteField.pieceCanMoveHere:hover svg {
    background: radial-gradient(
        transparent 0%,
        transparent 70%,
        var(--green-dark) 72%
    );
}

.blackField.pieceCanMoveHere:hover svg {
    background: radial-gradient(
        transparent 0%,
        transparent 70%,
        var(--green-dark) 72%
    );
}

.whiteField.pieceCanMoveHere:not(:has(svg)):hover {
    background: radial-gradient(var(--green) 23%, var(--blue-light) 24%);
}

.blackField.pieceCanMoveHere:not(:has(svg)):hover {
    background: radial-gradient(var(--green-dark) 23%, var(--blue-dark) 24%);
}

.whiteField.premove {
    background: radial-gradient(var(--red-pale-light) 100%);
}

.blackField.premove {
    background: radial-gradient(var(--red-pale-dark) 100%);
}

.whiteField.pieceCanMoveHere:not(:has(svg)).premove {
    background: radial-gradient(var(--green) 19%, var(--red-pale-light) 20%);
}

.blackField.pieceCanMoveHere:not(:has(svg)).premove {
    background: radial-gradient(var(--green) 19%, var(--red-pale-dark) 20%);
}

.currentPiece {
    background-color: var(--green-light);
}

.board__mated,
.board__promotion,
.board__define-side,
.board__accept-restart {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 1px 1px 1px black;
    background-color: var(--gray);
    border: 1px solid var(--black);
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
}

.board__define-side p {
    margin: 5px 15px 0px 15px;
}

.board__mated {
    width: 300px;
    height: 150px;
}

.board__promotion {
    padding: 20px 20px;
}

.board__promotion-pieces-wrapper {
    border: 2px solid var(--blue-darker);
    border-radius: 5px;
}

.board__promotion-pieceBlock {
    display: inline-block;
    background-color: var(--blue-dark);
}

div .inactive {
    visibility: hidden;
    opacity: 0;
}

div .active {
    opacity: 1;
    transition: opacity 0.3s ease;
}
