:root {
    --white: #b9b9b9;
    --black: #141414;
    --gray-lighter: #888888;
    --gray-light: #525252;
    --gray-dark: #212121;
    --gray: #282828;
    --brown: ;
    --blue-darker: #3f5362;
    --blue-dark: #566c7e;
    --blue-light: #768d9e;
    --green: #40765d;
    --green-dark: #3b6b54;
    --green-light: #487460;
}
