.board__define-side button {
    width: 200px;
    height: 50px;
    margin: 20px;
}

.board__define-side button span {
    color: rgb(202, 113, 113);
}

.board__define-side button:nth-child(3) {
    margin-top: 5px;
}

.create-game__button {
    width: 200px;
    height: 80px;
}

.create-game__button span {
    font-size: 1.5em;
}

.join-game button {
    margin-top: 10px;
    width: 150px;
    height: 55px;
}
