.board__chat-wrapper {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(2, 37, 32, 0.9);
    border: 4px solid rgb(77, 54, 13);
    border-radius: 2px;
    grid-column: 4 / 6;
    grid-row: 1 / 8;
    margin-left: 20px;
    max-width: 300px;
    height: 400px;
    overflow-y: scroll;
}

.board__chat-content {
    max-height: 100%;
    overflow-y: scroll;
    word-wrap: break-word;
}

.board__chat-content p:nth-child(2n) {
    background-color: rgba(2, 26, 22, 0.9);
}

.board__chat-content p {
    padding-left: 10px;
    padding-right: 10px;
}

.board__chat-header {
    width: 100%;
    border-bottom: 3px solid rgb(2, 17, 15);
    background-color: rgb(2, 20, 9);
    min-height: 37px;
    text-align: center;
    font-size: 1.2em;
}

.board__chat-input-wrapper {
    display: flex;
    margin-top: auto;
    border-top: 2px solid rgb(37, 25, 4);
    background-color: rgba(2, 26, 22, 0.9);
    padding-top: 5px;
    padding-bottom: 10px;
    align-self: center;
    height: 23px;
    width: 100%;
}

.board__chat-wrapper p {
    font-size: 0.8em;
}

.board__chat-header p {
    font-size: 1em;
}

#chatInput {
    width: 85%;
    margin-left: 10px;
    margin-right: 3px;
}

.board__chat-input-wrapper img {
    width: 25px;
    height: 23px;
    background: transparent;
}
