@import 'outer.css';
@import 'board.css';
@import 'timer.css';
@import 'pieces.css';
@import 'fonts.css';
@import 'button.css';
@import 'playedMoves.css';
@import 'newGame.css';
@import 'chat.css';
@import 'mediaQueries.css';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 21px;
    font-family: 'fira_sansmedium';
    color: rgb(170, 163, 91);
    letter-spacing: 0.4px;
    overflow: hidden;
}

body {
    background-color: rgb(5, 47, 40);
}
