@import 'outer.scss';
@import 'board.scss';
@import 'timer.scss';
@import 'pieces.scss';
@import 'fonts.scss';
@import 'button.scss';
@import 'playedMoves.scss';
@import 'newGame.scss';
@import 'chat.scss';
@import 'mediaQueries.scss';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 21px;
    font-family: 'fira_sansmedium';
    color: rgb(170, 163, 91);
    letter-spacing: 0.4px;
    overflow: hidden;
}

body {
    background-color: rgb(5, 47, 40);
}
