/* Layout for phones */

@media screen and (max-width: 760px) and (min-width: 600px) {
  
    .board {
      width: 590px;
      height: 590px;
    }

    img {
      width: 70px;
      height: 70px;
    }
}
  
@media screen and (max-width: 599px) and (min-width: 500px) {
      
    .board {
        width: 490px;
        height: 490px;
        margin-bottom: 100px;
    }

    img {
      width: 59px;
      height: 59px;
    }
}
    
@media screen and (max-width: 499px) {
    header h1 {
        font-size: 1.4em;
        align-self: center;
    }
        
    .board {
      width: 315px;
      height: 315px;
      margin-bottom: 200px;
    }

    img {
      width: 37px;
      height: 37px;
    }
}