/* Layout for phones */

@media screen and (max-width: 1200px) {
  .board-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .board {
    margin: 0 auto;
    width: 590px;
    height: 590px;
  }

  img {
    width: 70px;
    height: 70px;
  }

  .board__both-timers {
    align-self: flex-end;
    flex-direction: row;
    width: 100%;
  }

  .board__timer {
    margin: 10px 12px 10px 5px;
    width: 300px;
    height: 100px;
  }

  .board__timer p, .counter-section span {
    word-spacing: 0;
    font-size: 0.9em;
  }

  .board__define-side, .board__promotion, .board__mated, .board__accept-restart {
    width: 250px;
    top: 35%
  }

  .board__mated p {
    font-size: 1.2em;
  }

  input[type="range"] {
    width: 200px;
  }

  .board__promotion {
    width: 200px;
  }

  .board__promotion p {
    font-size: 0.6em;
  }

  .board__played-moves {
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 920px){
  .board__played-moves {
    display: none;
  }
}

@media screen and (max-width: 760px) and (min-width: 600px) {
  
    .board {
      width: 590px;
      height: 590px;
    }

    img {
      width: 70px;
      height: 70px;
    }
}
  
@media screen and (max-width: 599px) and (min-width: 500px) {
      
    .board {
        width: 490px;
        height: 490px;
    }

    img {
      width: 59px;
      height: 59px;
    }

    .board__define-side p {
      font-size: 1.2em;
    }
}
    
@media screen and (max-width: 499px) {
    header h1 {
        font-size: 1.4em;
        align-self: center;
        margin-left: 5%;
    }

    header a {
      margin-right: 5%;
    }
        
    .board {
      width: 315px;
      height: 315px;
    }

    .board__define-side button {
      width: 150px;
      height: 40px;
      margin: 15px
    }

    .board__define-side p {
      font-size: 1em;
    }

    img {
      width: 37px;
      height: 37px;
    }
}