/* Typography */
  
h1 {
    font-size: 2.2rem;
    font-family: 'kaushan_scriptregular';
    margin: 0;
}
    
h2 {
    font-size: 2.4rem;
}
    
p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.3rem;
}
  
ul {
    padding: 0;
}
  
ol {
    list-style-position: inside;
    padding: 0;
    margin: 2px 0px 10px;
    counter-reset: item;
}
  
li { 
    display: block;
}
  
.steps li:before { 
    content: counters(item, ".") " ";
    counter-increment: item; 
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color:rgb(35, 83, 70);
    border-left: 1px solid rgb(3, 26, 19);
}
::-webkit-scrollbar-thumb {
    background-color:rgb(9, 41, 32);
    border-left: 1px solid rgb(3, 26, 19);
}

  /* Link style */

a:link {
    color:rgb(78, 194, 178);
    text-decoration: none;
}

a:visited {
    color: rgb(76, 150, 129);
}

a:focus {
    border-bottom: 1px solid rgb(76, 150, 129);
}

a:hover {
    border-bottom: 1px solid rgb(76, 150, 129);
}

a:active {
    color:rgb(15, 110, 95);;
}

/* Sections */

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    border-bottom: 3px solid rgb(2, 17, 15);
    background-color: rgba(2, 20, 9, 0.8);
    border-collapse: collapse;
    height: 12%;
    width: 100%;
}

header h1 {
    margin-left: 10px;
}

nav {
    width: 100%;
    align-self: flex-end;
}


nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: 'fira_sansitalic';
    margin: 5px 0px;
    list-style: none;
    line-height: 1.4em;
}