.board__played-moves {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(2, 37, 32, 0.9);
    border: 4px solid rgb(77, 54, 13);
    border-radius: 2px;
    grid-column: 4;
    margin-top: 30%;
    margin-left: 20px;
    max-width: 300px;
    max-height: 400px;
    overflow-y: scroll;
}

.board__played-moves p:first-of-type {
    margin-top: 50px;
}

.board__played-moves p {
    font-size: 1em;
}

.board__played-moves h2 {
    width: 100%;
    border-bottom: 3px solid rgb(2, 17, 15);
    background-color: rgb(2, 20, 9);
    min-height: 35px;
    padding-top: 10px;
    text-align: center;
    font-size: 1.2em;
}